[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wheel = "*"
twine = "*"

[packages]
requests = "*"
click = "*"
gitpython = "*"
ontology-python-sdk = "*"
crayons = "*"
halo = "*"
